.text-primary
{
    position: fixed;
    width: 65px;
    height: 65px;
    top: 50% !important;
    left: 50%  !important;
}

.sr-only
{
    animation: 1.2s cubic-bezier(0.5, 0, 0.5, 1) alternate !important;
    transform-origin: 32px 32px;
}


.sr-only:after
{
    position: absolute;
    border: 20px solid #337AB7;
    background-color: #337AB7;
}